
body, html{
    background-position: center;
    background-image: url(aigars-peda-WL9YgxtA814-unsplash.jpg);
    background-size: cover;
    height:100%;
    width:100%;
    

}

#welcome_box{
    margin-top: 70px;
    
    
}


#welcome_right h1{
    font-family: 'Dancing Script', cursive;
    text-shadow: 6px 6px 3px rgb(14, 0, 0);
    font-size: 6vw;
    opacity: 0.9;
}

#welcome_right h2{
    font-family: 'Dancing Script', cursive;
    text-shadow: 6px 6px 3px rgb(14, 0, 0);
    font-size: 5vw;
    opacity: 0.9;
}

.imgshadow{
   
box-shadow: 5px 5px 8px 4px black;

}